{
  "version": 1,
  "db": {
    "local": {
      "serviceRoleKey": "<local supabase service role>"
    },
    "cloudPublic": {
      "serviceRoleKey": "<optional>"
    },
    "cloudPrivate": {
      "serviceRoleKey": "<your supabase service role>"
    }
  },
  "publish": {
    "pinggy": {
      "authtoken": ""
    },
    "cloudflare_tunnel": {
      "tunnelToken": ""
    },
    "ngrok": {
      "authtoken": ""
    }
  }
}
